body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.jpg) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

a {
	color: #ee2e24;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 50%;
    }

td, th {
	vertical-align: center;
	padding: 8px;
	text-align: center	
}
	
th {
	height: 50px;
}