
body {
	background: #ffffff url(../images/bg.png) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	color: #4e4e4e;
}
#page_title {
	margin-right: 20%; 
	margin-left: 44%;
	margin-top: 0.7%;
	margin-bottom: 2%; 
	font-size: 1.1em;  
	text-align: center;
	display: inline-block;
}


#header {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 150%; 
	border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
	background: #6F6F6F;
	color: white;
	height: 50px;
	margin: 0% 0% 2% 0%;
	padding-top: 20px;
}	


a {
	color: #ee2e24;
	text-decoration: none;
}

fieldset {
	margin: auto;
	max-width : 50px;
	padding: 1em 1em;
	text-align: center;
}

p {
	color: #2D2D2D;
	text-decoration: none;
	font: impact;
	font-size: 115%;
	font-weight: bold;
}

button {
    background-color: #2D7B30;
    border: none;
    color: white;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

h2 {
	color: black;
	text-decoration: none;
	font-family: Helvetica;
}

h3 {
	font-style: border;
	text-align: center;
	color: black;

}