body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.jpg) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

a {
	color: #ee2e24;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 60%; 
    }

tr, td, th {
	vertical-align: center;
	padding: 8px;
	text-align: center;
}
	
tr, th {
	height: 50px;
}

.question_title {
	border-collapse: collapse;
	width: 60%; 
	background: #ACACAC;
	}
	
.question {
	border-collapse: collapse;
	width: 60%; 
	background: #FFFFFF;
	}

.answer_1 {
	text-align: right;
	border-bottom: 1px solid grey;
	}
.answer {
	font-size: 20px;
	border-bottom: 2px solid grey;
	padding: 0	px;
	}