body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.jpg) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

button {
    background-color: #2D7B30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

submit_id {
	display : inline;
}

a {
	color: #ee2e24;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 60%;
    table-layout: fixed;
 
    }

tr, td, th {
	vertical-align: center;
	padding: 8px;
	text-align: center;
}
	
tr, th {
	height: 50px;
}

.question_title {
	border-collapse: collapse;
	width: 60%; 
	background: #ACACAC;
	}
	
.question {
	border-collapse: collapse;
	width: 60%;
	text-align: left;
	background: #FFFFFF;
	}

.answer_1 {
	text-align: right;
	border-bottom: 1px solid grey;
	}

.title {
	width: 100%; 
	font-size: 30px;
	color:black
	
	}

.answer {
	font-size: 20px;
	background: #846A4B;
	color:white;
	text-align: left;
	border-bottom: 2px solid grey;
	padding: 0	px;
	}

.clock { 
	position: absolute; 
	top: 40px; 
	left: 300px; 
	width: 100%; 
	}

.question_date {
	text-align: left;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	padding: 8px;
	background: #ACACAC;
	}

.question_buttons {
	text-align: right;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	padding: 8px;
		background: #ACACAC;
	}

.answer_date {
	text-align: left;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;	
	background: #ACACAC;
	}

.answer_buttons {
	text-align: right;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	background: #ACACAC;
	}
