body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.png) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

#header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 150%; 
	border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
	background: #6F6F6F;
	color: white;
	height: 50px;
	margin: 0% 0% 2% 0%;
	padding-top: 20px;
}

button {
    background-color: #2D7B30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

submit_id {
	display : inline;
}

a {
	color: #ee2e24;
	text-decoration: none;
}

tr, td, th {
	vertical-align: center;
	padding: 8px;
	text-align: center;
}



.answer_1 {
	text-align: right;
	border-bottom: 1px solid grey;
	}

.title {
	width: 100%; 
	font-size: 30px;
	color:black
	
	}


#submitid {
	background-color: #7B302C;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
	font-size: 90%;
	border-radius: 3px;
}


.mytable { 
	display: table; 
	border-collapse: collapse;
	width: 60%;
	table-layout: fixed;
	margin: 0 auto;
}

.mytable_inner { 
	display: table; 
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	margin: 0 auto;
}

.myrow { 
	display: table-row;
	height: 50px;
	vertical-align: center;
	padding: 8px;
	text-align: center; 
	width: 60%;
}

.mycolumn { 
	display: table-cell; 
}

.mycolumn_question_title {
	display: table-cell;
	border-collapse: collapse;
	width: 60%; 
	background: #ACACAC;
	padding: 3%;
	}

.mycolumn_question {
	display: table-cell;
	border-collapse: collapse;
	width: 60%;
	text-align: left;
	background: #FFFFFF;
	}

.mycolumn_question_date {
	display: table-cell;
	text-align: left;
	padding: 8px;
	background: #ACACAC;
	}

.mycolumn_question_buttons {
	display: table-cell;
	text-align: right;
	padding: 8px;
	background: #ACACAC;
	}

.mycolumn_comment {
	display: table-cell;
	color: white;
	text-align: left;
	padding: 8px;
	background: #A7A7A7;
	opacity: 0.6;
	width: 190%;
	}

.mycolumn_comment_buttons {
	display: table-cell;
	color: white;
	text-align: right;
	padding: 8px;
	background: #A7A7A7;
	opacity: 0.6;
	width:10%;
}

.mycolumn_answer_date {
	display: table-cell;
	text-align: left;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;	
	background: #ACACAC;
	}

.mycolumn_answer {
	display: table-cell;
	font-size: 20px;
	text-align: center;
	padding: 0	px;
	}

.mycolumn_answer_buttons {
	display: table-cell;
	text-align: right;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	background: #ACACAC;
	}