body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.png) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

#header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 150%; 
	border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
	background: #6F6F6F;
	color: white;
	height: 50px;
	margin: 0% 0% 2% 0%;
	padding-top: 20px;
}

p {
	display: inline;
	font-size: 120%;
	font-weight: bold 
}


a {
	color: #ee2e24;
	text-decoration: none;
}

a:hover {
	color: black; 
}

.clock { 
   position: absolute; 
   top: 40px; 
   left: 300px; 
   width: 100%; 
}

.showall p {
	text-align: right;
	display: inline;
}

.askquestion p {
	text-align: left;
	display: inline;
}
.showall {
	text-align: center;
}

.askquestion {
	text-align: center;
}


table {
	border-collapse: collapse;
	width: 90%;
    }

tr, td, th {
	border-bottom: 1px solid grey;
	vertical-align: center;
	padding: 8px;
	text-align: left	
}
	
tr, th {
	height: 50px;
}


td.questions {
	font-size: 120%;
	font-family: times;
	text-align: left;
}