body {
	padding: 0px;
	margin: 0px;
	background: #ffffff url(../images/bg.jpg) top center no-repeat fixed;
	font-family: tahoma, arial, sans-serif;
	font-size: 100%;
	color: #4e4e4e;
}

#header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 150%; 
	border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
	background: #6F6F6F;
	color: white;
	height: 50px;
	margin: 0% 0% 2% 0%;
	padding-top: 20px;
}

a {
	color: #ee2e24;
	text-decoration: none;
}

.clock { 
	position: absolute; 
	top: 40px; 
	left: 300px; 
	width: 100%; 
 }

fieldset {
	margin: auto;
	max-width : 50px;
	padding: 1em 1em;
}

fieldset input {
	text-align: center
}

p {
	color: #2D2D2D;
	text-decoration: none;
	font: impact;
	font-size: 115%;
	font-weight: bold;
}

button {
    background-color: #2D7B30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

h2 {
	color: #2D2D2D;
	text-decoration: none;
	font-family: Helvetica;
}