<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Askmate</title>
    </head>
    <body>
        <h1>Ask Askmate</h1><br>
        <h2>{{ page_title }}</h2>
        <a href ="/">Back to main menu</a>
        <form action="{{ action_link }}" method="post">    
            <fieldset>
        <p>Title</p>
        <p><textarea name="title" id="title id" rows="2" cols="70"> {{ title_of_question }}</textarea></p>
        <p>Question</p>
        <p><textarea name="question" id="question id" rows="20" cols="70">{{ question }}</textarea></p><br>
        <button type="submit" id="submit_id" align="right">Submit</button>
            </fieldset>
        </form>    
    </body>
</html>