{% extends "header.html" %}
{% block head %}
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/static/css/style_form.css" media="screen, print">
      <title>Askmate</title>
{% endblock %}
{% block content %}
      <div id="page_title"><h2>{{ page_title }}</h2></div>
      <form action="{{ action_link }}" method="post">
         <fieldset>
            <p><h3>Title</h3></p>
            <p><textarea name="title" id="title id" rows="2" cols="70" minlength="10" maxlength="60" required="required" style="font-size:15px;">{{ title_of_question }}</textarea></p>
            <p><h3>Question</h3></p>
            <p><textarea name="question" id="question id" rows="20" cols="70" minlength="10" required="required" style="font-size:12px;">{{ question }}</textarea></p>
            <button type="submit" id="submit_id"><h4>Submit</h4></button>
         </fieldset>
      </form>
{% endblock %}