<head>
      {% block extra_css %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
</head>
<body>
    <div id="drop_menu">
        <div "drop_menu_wrapper">
    <ul>
        <li><a href="#">valami</a></li><li>
            <a href="#">index</a></li><li>
            <a href="#">mutlimedia</a></li><li>
            <a href="#">About us</a>
            <ul>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
            </li>
            {%if session['logged_in']%}
            <li id="logout_button"><a href="/logout">Log out</a></li>
            {%else%}
            <li id ="login_boxes">
            <form action="/login" method="POST">
            <input id = "input_box"type="username" size ="12" name="username" placeholder="Username">
            <input id = "input_box"type="password" size ="12" name="password" placeholder="Password">
            <input type="submit" value="Log in">
            </form></li>      
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {%for message in messages %}
                          {{message}}
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            {%endif%}
    </ul>
    </div>
    </div>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>