<!doctype html>
<html>
   <head>
        <meta charset="utf-8">
        <title>Askmate</title>
   </head>
   <body>
       <h1>Questions</h1>
       <br><br>
     <a href="/ask-question">ask a question</a>
       <table border = 1>
            <tr>
               <th>Question title</th>
               <th>Time</th>
               <th>Votes</th>
            </tr>
        {% for line in questions %}
            <tr>
                <td>{{line[4]}}</td>
                <td>{{line[1]}}</td>
                <td>{{line[2]}}</td>
            </tr>    
        {% endfor %}
      </table>
   </body>
</html>