<!doctype html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="/static/css/style_question.css" media="screen, print">
      <meta charset="utf-8">
      <title>Question</title>
   </head>
   <body align="center">
      <a href="/">
         <div id="header">Ask a Mate</div>
      </a>
      <div class="mytable">
         <div class="myrow">
            <div class="mycolumn_question_title">
               {%for line in question%}
               {{line["title"]}}
               {%endfor%}
            </div>
         </div >
         <div class="myrow">
            <div class="mycolumn_question">
               {%for line in question%}
               {{line["message"]}}
               {%endfor%}
            </div>
         </div >
         <div class="mytable_inner">
            <div class="myrow">
               <div class="mycolumn_question_date">
                  {%for line in question%}
                  {{line["submission_time"]}} Vote: {{line["vote_number"]}}
               </div>
               <div class="mycolumn_question_buttons">
                  <a href="/question/{{  line['id']  }}/delete"><img src="/static/images/delete.png" width="25px"></a>
                  <a href="/question/{{  line['id']  }}/edit"><img src="/static/images/edit.png" width="25px"></a>
                  <a href="/question/{{  line['id']  }}/vote-up"><img src="/static/images/upvote.png" width="25px"></a>
                  <a href="/question/{{  line['id']  }}/vote-down"><img src="/static/images/downvote.png" width="25px"></a>
               </div>
               {%endfor%}
            </div >
         </div>
      </div>
      <div class="mytable">
         {%for line in questioncomments%}
         {%if line["question_id"] == question[0]["id"]%}
         <div class="myrow">
            <div class="mycolumn_comment">
               {{line["message"]}}
            </div>
            <div class="mycolumn_comment_buttons">
               <a href="/{{  question[0]['id']  }}/delete_comment/{{  line['id']  }}"><img src="/static/images/delete.png" width="25px"></a>              
            </div>
         </div >
         {%endif%}
         {%endfor%}
         <div class="myrow">
            <div class="mycolumn">
               <form action="/give_comment/question_id/{{  question[0]['id']  }}" method="post">
                  <input name ="comment" maxlength="90"></input>
                  <button type="submit" id="submitid">comment</button>
               </form>
            </div>
         </div >
      </div class="mytable">
      <!-- ANSWER ................................................................................................................... HERE -->
      <div class="mytable">
         <div class="myrow">
            <h3 class="title">Answers</h3>
         </div >
         {%for line in answers%}
         {%if line["id"] == id_to_edit %}
         <form action="/answer/{{ id_to_edit  }}/edit/save" method="post">
            <div class="myrow">
               <div class="mycolumn">
                  <div class="mytable_inner">
                     <div class="myrow">
                        <div class="mycolumn_answer_date">
                           {{line["submission_time"]}} Votes: {{line["vote_number"]}}
                           Edit answer
                        </div>
                     </div >
                  </div>
               </div>
            </div >
            <div class="mycolumn_answer">
               <textarea name="answer_edit_text">{{ line["message"] }}</textarea>
               <br><br>
               <button type="submit" id="submit_edit_answer" method="POST">Submit</button>
            </div>
            <div class="myrow">
               <div class="mycolumn">
               </div>
            </div >
            <div class="myrow">
               <div class="mycolumn">
                  <br>
               </div>
            </div >
         </form>
         {% else %}                  
         <div class="myrow">
            <div class="mycolumn">
               <div class="mytable_inner">
                  <div class="myrow">
                     <div class="mycolumn_answer_date">
                        {{line["submission_time"]}} Votes: {{line["vote_number"]}}
                     </div>
                     <div class="mycolumn_answer_buttons">
                        <a href="/answer/{{ line['id'] }}/delete"><img src="/static/images/delete.png" width="25px"></a>
                        <a href="/answer/{{ line['id'] }}/edit"><img src="/static/images/edit.png" width="25px"></a>                
                        <a href="/answer/{{ line['id'] }}/vote-up"><img src="/static/images/upvote.png" width="25px"></a>
                        <a href="/answer/{{ line['id'] }}/vote-down"><img src="/static/images/downvote.png" width="25px"></a>
                     </div>
                  </div >
               </div>
            </div>
         </div >
         <div class="mycolumn_answer">
            {{line["message"]}}
            <br>
         </div>
         {%for commentline in answercomments%}
         {%if commentline["answer_id"] == line["id"]%}
         <div class="myrow">
            <div class="mycolumn_comment"><span style="float: left">{{commentline["message"]}}</span><span style="float: right">
               <a href="/{{  question[0]['id']  }}/delete_comment_from_answer/{{  commentline['id']  }}"><img src="/static/images/delete.png" width="25px"></a>  
               </span>
            </div>
         </div >
         {%endif%}
         {%endfor%}
         <div class="myrow">
            <div class="mycolumn">
               <form action="/give_comment/answer_id/{{  line['id']  }}" method="post">
                  <input name ="comment"></input>
                  <button type="submit" id="submitid">comment</button>
               </form>
            </div>
         </div >
         <div class="myrow">
            <div class="mycolumn">
            </div>
         </div >
         <div class="myrow">
            <div class="mycolumn">
               <br>
            </div>
         </div >
         {%endif%}
         {%endfor%}
      </div>
      <br>
      <br>
      Answer Here:
      <br>
      <br>
      <form action="/give-answer/{{ id_  }}" method="post">  
         <textarea name="answer_text" rows="8" cols="80">{{ answer_text }}</textarea>
         <br>
         <button type="submit" id="submit_answer" method="POST">Submit</button>
         <br>
         <br>
         <br>
      </form>
   </body>
</html>