<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/static/css/style_form.css" media="screen, print">
      <title>Askmate Registration</title>
   </head>
   <body>
      <a href="/">
         <div id="header">Registration</div>
      </a>
      <form action="/add_registration" method="post">
         <fieldset>
            <p>Username</p>
            <p><textarea name="username" id="username id"  minlength="4" maxlength="20" required="required">{{ username }}</textarea></p>
            <p>Password</p>
            <p><textarea name="password" id="password id"  minlength="4" maxlength="20" required="required">{{ password }}</textarea></p>
            <p>Email Address</p>
            <p><textarea name="email_address" id="email_address id" minlength="10" required="required">{{ email }}</textarea></p>
            <br>
            <button type="register" id="register id">Register</button>
         </fieldset>
      </form>
      <br>
   </body>
</html>