<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style_user.css" media="screen, print">
        <meta charset="utf-8">
        <title>User details</title>
    </head>
    <body align="center">
        <h2>{{user_details[0]["username"]}}</h2>
    <table align="center" class="question">
            <th>Questions</th>
        {%if question%}
        {% for line in question %}
        <tr><td><a href="/question+1view/{{  line['id']  }}">{{line["title"]}}</a></td>
        </tr>
        {% endfor %}  
        {%else%}
        <tr> 
                <td>This user didn't add any question.</td>
                </tr>
        {%endif%}   
    </table>
    <table align="center" class="answer">
            <th>Answers</th>
            {%if answer%}
        {% for line in answer %}
        
        <tr><td>{{line["message"]}}</td>
        </tr>
        {% endfor %}
        {%else%}
        <tr> 
        <td>This user didn't add any answer.</td>
        </tr>
        {%endif%}     
    </table>
    <table align="center" class="answer">
            <th>Comments</th>
            {%if comment%}
        {% for line in comment %}
        
        <tr><td>{{line["message"]}}</td>
        </tr>
        {% endfor %}   
        {%else%}
        <tr> 
                <td>This user didn't add any comments.</td>
                </tr>
        
        {%endif%} 
    </table>
   </body>
</html> 